.header {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.options {
  display: flex;
  gap: 1rem;

  .option {
    font-size: 1.5rem;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 8px;

    ion-badge {
      font-size: 7px;
      position: absolute;
      top: 0;
      right: 5px;
    }
  }
}

.ripple-parent {
  position: relative;
  overflow: hidden;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family:Calibri;
  color:black;

  .card-content{
    font-size: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;

    ion-label {
      font-size: 1.3rem;
    }

    #edit-map, #create-map {
      width: 100%;
      height: 300px;
    }
  }

}
.img-card{
  height: 100px;
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 2rem 0;

  img {
    width: 100px;
    height: 100px;
  }

  input {
    position: absolute;
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}
.card-buttons{
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.validation-errors {
  font-size: small;
  color: var(--ion-color-danger, #f1453d);
}

/* These are necessary to make the underline red */
ion-item.invalid {
  --highlight-background: var(--ion-color-danger, #f1453d);
}

ion-item {
  --highlight-color-invalid: var(--ion-color-primary);
}
