<ion-content fullscreen>
  <div class="novo-caso-header">
    <ion-title>{{this.case ? 'Editar Caso' : 'Novo Caso'}}</ion-title>
  </div>
  <form [formGroup]="form">
    <div class="card">
      <div class="img-card">
        <input
          (change)="openImagePicker($event)"
          type="file"
          accept="image/*" />
        <img
          [src]="form?.value.imagemUrl || '../../../../../assets/icon/user_add_21977%20(1).png'" />
      </div>

      <div class="card-content">
        <ion-item>
          <ion-label position="stacked">Nome</ion-label>
          <ion-input
            required
            type="text"
            formControlName="nome"
            placeholder="Nome da Criança ou Adolecente desparecido"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <div
            class="error-message"
            *ngIf="nome?.errors && nome?.dirty || nome?.touched && nome?.invalid">
            Nome Obrigatorio
          </div>
        </div>

        <ion-item>
          <ion-input
            value="{{data.value | date: 'dd/MM/yyyy'}}"
            placeholder="Dia/Mês/Ano"
            id="date">
            Data do Desparecimento
          </ion-input>
          <ion-popover
            trigger="date"
            size="cover">
            <ng-template>
              <ion-datetime
                mode="ios"
                locale="pt-BR-u-hc-h12"
                presentation="date"
                (ionChange)="setDate($event)"
                [showDefaultButtons]="true"
                doneText="Confirmar"
                cancelText="Cancelar">
              </ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>
        <div class="validation-errors">
          <div
            class="error-message"
            *ngIf="data?.errors && data?.dirty || data?.touched && data?.invalid">
            Data é Obrigatorio
          </div>
        </div>
        <div class="contatos">
          <span style="margin-bottom: 1rem">Enviar informações para:</span>
          <div *ngIf="this.form.value.contatos">
            <div
              class="contato"
              *ngFor="let contato of this.form.value.contatos; let i = index">
              <ion-icon
                name="call-outline"
                size="large"
                color="primary"></ion-icon>
              <div>
                <span class="nome"> {{contato.nome}} </span>
                <span class="tel"> {{contato.telefone}} </span>
              </div>
              <ion-icon
                (click)="removeContato(i)"
                class="trash"
                name="trash-outline"
                size="large"
                color="danger"></ion-icon>
            </div>
          </div>

          <ion-button
            expand="full"
            fill="clear"
            id="open-custom-dialog">
            Acicionar contato
          </ion-button>
        </div>
        <div class="validation-errors">
          <div
            class="error-message"
            *ngIf="contatos?.errors && contatos?.dirty || contatos?.touched && contatos?.invalid">
            Contato é Obrigatorio
          </div>
        </div>
        <div [id]="!!case ? 'edit-map' : 'create-map'"></div>
        <div class="validation-errors">
          <div
            class="error-message"
            *ngIf="lat?.errors && lat?.dirty || lat?.touched && lat?.invalid">
            local é Obrigatorio
          </div>
        </div>
      </div>
    </div>
    <div class="card-buttons">
      <ion-button
        #cancelButton
        (click)="goToHome()"
        color="danger">
        Cancelar
      </ion-button>
      <ion-button
        expand="block"
        (click)="submit()"
        color="primary"
        [disabled]="form.invalid">
        {{!!this.case ? 'Editar' : 'Cadastrar'}}
      </ion-button>
    </div>
  </form>
</ion-content>

<ion-modal
  id="adicionar-contato"
  #modal
  trigger="open-custom-dialog">
  <ng-template>
    <div class="wrapper">
      <h1>Adicionar contato</h1>
      <form
        [formGroup]="addContactForm"
        class="add-contact-form">
        <div class="inputs">
          <ion-item>
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-input
              formControlName="nome"
              placeholder="Nome"
              type="text">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="call-outline"></ion-icon>
            <ion-input
              formControlName="telefone"
              placeholder="Insira o telefone"
              [maskito]="phoneMask"
              [maskitoElement]="maskPredicate">
            </ion-input>
          </ion-item>
        </div>

        <div class="action-buttons">
          <ion-button
            [disabled]="addContactForm.invalid"
            expand="block"
            (click)="addContact(modal)"
            color="primary">
            Adicionar
          </ion-button>
        </div>
      </form>
    </div>
  </ng-template>
</ion-modal>
