<ion-header>
  <ion-toolbar>
    <div class="header">
      <h3>Alerta Amber</h3>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form [formGroup]="form">
    <div class="card">
      <div class="img-card">
        <input
          (change)="openImagePicker($event)"
          type="file"
          accept="image/*" />
        <img
          [src]="form?.value.photoURL || '../../../../../assets/icon/user_add_21977%20(1).png'" />
      </div>

      <div class="card-content">
        <ion-item>
          <ion-label position="stacked">Nome</ion-label>
          <ion-input
            required
            type="text"
            formControlName="nome"
            placeholder="Nome da Criança ou Adolecente desparecido"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <div
            class="error-message"
            *ngIf="nome?.errors && nome?.dirty || nome?.touched && nome?.invalid">
            Nome Obrigatorio
          </div>
        </div>

        <ion-item>
          <ion-input
            formControlName="data"
            placeholder="Dia/Mês/Ano"
            value="{{ date | date: 'dd/MM/yyyy' }}"
            id="date">
            Data do Desparecimento
          </ion-input>
          <ion-popover
            trigger="date"
            size="cover">
            <ng-template>
              <ion-datetime
                mode="ios"
                locale="pt-BR-u-hc-h12"
                presentation="date"
                [(ngModel)]="date"
                (ngModelChange)="updateData()"
                [ngModelOptions]="{standalone: true}"
                [showDefaultButtons]="true"
                doneText="Confirmar"
                cancelText="Cancelar">
              </ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>
        <div class="validation-errors">
          <div
            class="error-message"
            *ngIf="data?.errors && data?.dirty || data?.touched && data?.invalid">
            Data é Obrigatorio
          </div>
        </div>

        <ion-item>
          <ion-label position="stacked">Informações do possível suspeito:</ion-label>
          <ion-textarea
            type="text"
            formControlName="suspeito"
            placeholder="caracteristicas físicas do suspeito"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Enviar informações para:</ion-label>
          <ion-input
            required
            type="number"
            formControlName="contato"
            placeholder="número para informações"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <div
            class="error-message"
            *ngIf="contato?.errors && contato?.dirty || contato?.touched && contato?.invalid">
            Contato é Obrigatorio
          </div>
          <div class="validation-errors">
            <div
              class="error-message"
              *ngIf="lat?.errors && lat?.dirty || lat?.touched && lat?.invalid">
              local é Obrigatorio
            </div>
          </div>
        </div>
        <div [id]="!!case ? 'edit-map' : 'create-map'"></div>
      </div>
    </div>
    <div
      mode="ios"
      class="card-buttons">
      <ion-button
        #cancelButton
        (click)="goToHome()"
        color="danger">
        Cancelar
      </ion-button>
      <ion-button
        expand="block"
        (click)="submit()"
        color="primary">
        {{!!this.case ? 'Editar' : 'Cadastrar'}}
      </ion-button>
    </div>
  </form>
</ion-content>
