<ion-content>
  <div class="login-content">
    <img src="../../../../../assets/images/login-image.svg" />
    <span class="title"> Alerta Amber </span>
    <form [formGroup]="form">
      <div class="inputs">
        <ion-item>
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-input
            formControlName="email"
            placeholder="Email"
            type="email">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="key-outline"></ion-icon>
          <ion-input
            formControlName="senha"
            placeholder="Senha"
            type="password">
          </ion-input>
        </ion-item>
      </div>

      <div>
        <div
          [ngClass]="{'disabled': form.invalid}"
          class="enter-button"
          (click)="login()">
          Entrar
        </div>
      </div>

      <hr class="hr-text" />

      <div class="action-buttons">
        <div
          class="enter-button"
          [routerLink]="['/cadastro']">
          Cadastrar
        </div>
        <button
          type="button"
          class="login-with-google-btn">
          Entrar com Google
        </button>
      </div>
    </form>
  </div>
</ion-content>
