<ion-content>
  <div class="login-content">
    <img src="../../../../../assets/images/login-image.svg" />
    <span class="title"> Alerta Amber </span>
    <form [formGroup]="form">
      <div class="inputs">
        <ion-item>
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-input
            formControlName="email"
            placeholder="Email"
            type="email">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="key-outline"></ion-icon>
          <ion-input
            formControlName="senha"
            placeholder="Senha"
            type="password">
          </ion-input>
        </ion-item>
      </div>

      <div>
        <div
          [ngClass]="{'disabled': form.invalid}"
          class="enter-button"
          (click)="login()">
          Entrar
        </div>
      </div>

      <span class="f-pass">
        Esqueceu sua senha? <span id="open-custom-dialog">clique aqui</span>
      </span>

      <hr class="hr-text" />

      <div class="action-buttons">
        <div
          class="enter-button"
          [routerLink]="['/cadastro']">
          Cadastrar
        </div>
        <button
          type="button"
          class="login-with-google-btn"
          (click)="loginWithGoogle()">
          Entrar com Google
        </button>
      </div>
    </form>
  </div>
</ion-content>

<ion-modal
  id="f-senha"
  #modal
  trigger="open-custom-dialog">
  <ng-template>
    <div class="wrapper">
      <h1>Recuperar senha</h1>
    </div>
    <div class="f-senha-form">
      <ion-item>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input
          [formControl]="recuperarEmailValor"
          placeholder="Email"
          type="email">
        </ion-input>
      </ion-item>
      <div class="action-buttons">
        <ion-button
          [disabled]="!recuperarEmailValor.valid"
          expand="block"
          color="primary"
          (click)="recuperarSenha(modal, recuperarEmailValor.value)">
          Recuperar
        </ion-button>
      </div>
    </div>
  </ng-template>
</ion-modal>
