<ion-content>
  <div class="home-content">
    <div class="home-header">
      <img [src]="user?.imagemUrl || '../../../../../assets/fotosKids/avatar.jpg'" />
      <span class="user-name"> {{user?.name}} </span>

      <div class="options">
        <div
          class="option ion-activatable ripple-parent"
          id="notifications-trigger">
          <div
            *ngIf="user?.notifications?.length"
            class="badge">
            {{user?.notifications?.length}}
          </div>
          <ion-icon name="notifications-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
          <ion-popover trigger="notifications-trigger">
            <ng-template>
              <ion-content>
                <ion-list
                  class="notifications-list"
                  *ngIf="user?.notifications?.length"
                  [inset]="true">
                  <ion-item
                    (click)="openCaseInNotification(notification.path, i); popoverController.dismiss()"
                    *ngFor="let notification of user?.notifications; let i = index">
                    <ion-avatar slot="start">
                      <img
                        [src]="notification.imagemUrl || '../../../../../assets/fotosKids/avatar.jpg'" />
                    </ion-avatar>
                    <ion-label>
                      <h2>{{ notification.mensagem }}</h2>
                    </ion-label>
                  </ion-item>
                </ion-list>
                <span *ngIf="user?.notifications?.length">
                  <ion-button
                    (click)="clearAllNotifications()"
                    class="clear-notifications"
                    size="small"
                    expand="block">
                    Limpar
                  </ion-button>
                </span>
                <span *ngIf="!user?.notifications?.length">
                  <ion-item>Você não possui notificações.</ion-item>
                </span>
              </ion-content>
            </ng-template>
          </ion-popover>
        </div>

        <div class="option ion-activatable ripple-parent">
          <ion-icon
            id="open-modal"
            name="search-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
          <ion-modal
            #modal
            [breakpoints]="[0, 0.25, 0.5, 0.75]"
            [enterAnimation]="enterAnimation"
            [initialBreakpoint]="0.25"
            [leaveAnimation]="leaveAnimation"
            trigger="open-modal">
            <ng-template>
              <ion-content>
                <ion-searchbar
                  (ionInput)="search($event)"
                  (click)="modal.setCurrentBreakpoint(0.75)"
                  placeholder="Search"></ion-searchbar>
                <ion-list>
                  <ion-item
                    *ngFor="let item of searchedItems"
                    (click)="openCase(item)">
                    <ion-avatar slot="start">
                      <ion-img
                        [src]="item.imagemUrl || '../../../../../assets/fotosKids/avatar.jpg'"></ion-img>
                    </ion-avatar>
                    <ion-label>
                      <h2>{{ item.nome }}</h2>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-modal>
        </div>

        <div class="option ion-activatable ripple-parent">
          <ion-icon
            id="hover-trigger"
            name="bookmark-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
          <ion-popover trigger="hover-trigger">
            <ng-template>
              <ion-content>
                <ion-list
                  *ngIf="savedCasesList.length"
                  [inset]="true">
                  <ion-item
                    *ngFor="let item of savedCasesList"
                    (click)="openCase(item)">
                    <ion-avatar slot="start">
                      <img [src]="item.imagemUrl || '../../../../../assets/fotosKids/avatar.jpg'" />
                    </ion-avatar>
                    <ion-label>
                      <h2>{{ item.nome }}</h2>
                    </ion-label>
                  </ion-item>
                </ion-list>
                <span *ngIf="!savedCasesList.length">
                  <ion-item>Você não possui casos salvos.</ion-item>
                </span>
              </ion-content>
            </ng-template>
          </ion-popover>
        </div>
        <div class="option ion-activatable ripple-parent">
          <ion-icon
            (click)="sair()"
            name="power-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>
    </div>
    <div class="home-body">
      <div
        *ngIf="items.length"
        class="cases">
        <span class="title-case"> Casos </span>
        <div
          *ngFor="let item of items"
          class="case">
          <img [src]="item.imagemUrl" />
          <div class="info">
            <span class="name">
              <span>{{item.nome}}</span>
              <ion-icon
                (click)="addLista(item._id)"
                [name]="!caseIsSaved(item._id) ? 'bookmark-outline' : 'bookmark'"
                [ngStyle]="{'color': !caseIsSaved(item._id) ? 'black' : 'red' }"></ion-icon
            ></span>
            <span class="data">{{item.data | date: 'dd/MM/yyyy'}}</span>
            <div
              (click)="openCase(item)"
              class="see-more">
              Ver mais
            </div>
          </div>
        </div>
      </div>
      <div
        *ngIf="!items.length"
        class="empty-message">
        <img src="../../../../../assets/images/404.svg" />
        <span class="title">Nenhum caso registrado</span>
        <span class="message"> Se desejar adicionar um caso clique no botão abaixo. </span>
      </div>
    </div>
  </div>
  <!-- <ion-content fullscreen>
  <div *ngIf="loading">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div
    *ngIf="!loading"
    class="content">
    <div
      *ngIf="items.length"
      class="cards">
      <ion-card *ngFor="let item of items">
        <div class="card">
          <div
            (click)="openCase(item)"
            class="img-card">
            <img [src]="item.imagemUrl || '../../../../../assets/fotosKids/avatar.jpg'" />
          </div>

          <div class="card-header">
            <span>{{ item.nome }}</span>
            <div class="options">
              <div
                id="open-share-with-user-modal"
                class="option ion-activatable ripple-parent">
                <ion-icon name="share-social-outline"></ion-icon>
                <ion-ripple-effect></ion-ripple-effect>
                <ion-modal
                  [breakpoints]="[0, 0.25, 0.5, 0.75]"
                  [enterAnimation]="enterAnimation"
                  [initialBreakpoint]="0.25"
                  [leaveAnimation]="leaveAnimation"
                  #modal
                  trigger="open-share-with-user-modal">
                  <ng-template>
                    <ion-content>
                      <ion-searchbar
                        (ionInput)="searchUser($event)"
                        [debounce]="300"
                        (click)="modal.setCurrentBreakpoint(0.75)"
                        placeholder="Search"></ion-searchbar>
                      <ion-list>
                        <ion-item *ngFor="let user of usersToShare">
                          <ion-avatar slot="start">
                            <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
                          </ion-avatar>
                          <ion-label>
                            <h2>{{user.name}}</h2>
                            <p>{{user.email}}</p>
                          </ion-label>
                        </ion-item>
                      </ion-list>
                    </ion-content>
                  </ng-template>
                </ion-modal>
              </div>
              <div class="option ion-activatable ripple-parent">
                <div class="salve-button">
                  <ion-icon
                    (click)="addLista(item._id)"
                    [name]="!caseIsSaved(item._id) ? 'bookmark-outline' : 'bookmark'"
                    [ngStyle]="{'color': !caseIsSaved(item._id) ? 'black' : 'red' }"></ion-icon>
                </div>
                <ion-ripple-effect></ion-ripple-effect>
              </div>
            </div>
          </div>

          <div class="card-content">
            <label> Data do desaparecimento: {{ item.data | date: 'dd/MM/yyyy' }} </label>
            <label> Enviar informações para: {{item.contatos}} </label>
          </div>
        </div>
      </ion-card>
    </div>
    <div
      *ngIf="!items.length"
      class="empty-message">
      <ion-card color="warning">
        <ion-card-header>
          <div class="car-alert">
            <ion-card-title>Nenhum caso registrado</ion-card-title>
            <ion-card-content>
              Se desejar adicionar um caso clique em "Adiconar Caso" no menu abaixo
            </ion-card-content>
          </div>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content> -->
</ion-content>

<ion-fab
  slot="fixed"
  vertical="bottom"
  horizontal="end">
  <ion-fab-button [routerLink]="['/add-case']">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
